<a href="https://colab.research.google.com/github/Naymora/PDMO/blob/main/Copy_of__WB_Thailand_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The dictionary data type** (also known as 'dict')
----

## **What is a 'dictionary' in Python?**

A dictionary is a set of (__key: value__) pairs:

* __Keys__ must be unique (and 'immutable'). Typically, they are strings.
* __Values__ can be anything, including e.g. another dict 

(In some other programming languages, the concept of a dictionary is called a 'map' or a 'hash'.)

In [ ]:
from datetime import date

## **Why dictionaries?**

With lists, we access elements by their numerical index, e.g. L[2]. Often it is convenient to retrieve elements of a collection using a meaningful key instead.

In the case of our debt management application, we might be interested to look up bonds according to their symbol (or ISIN).

In [ ]:
bond_dict = dict(LB29DA={'maturity': date(2029, 12, 17), 'coupon': 0.016}, \
                 LB386A={'maturity': date(2038, 6, 17), 'coupon': 0.033})

Now, we can conveniently look up the information we are interested in by using meaningful keys:

In [ ]:
bond_dict['LB386A']['coupon']

0.033

Contrast this with the situation where we use lists:

In [ ]:
bond_list = [[date(2029, 12, 17), 0.016], [date(2038, 6, 17), 0.033]]
bond_list[1][1]

0.033

We can extract the same information, but the indices are not very human friendly (we have to remember, for example, that coupon in the last entry in the nested lists):

Using lists for this purpose makes your code hard to read and very error-prone (it is quite easy to get an index wrong...)

## **Dictionaries in a bit more detail**

In [ ]:
# Define a very simple dict using curly braces

d = {'Thailand': 'Bangkok', 'Denmark': 'Copenhagen'}
d

{'Denmark': 'Copenhagen', 'Thailand': 'Bangkok'}

In [ ]:
# Define the exact same dict using the 'dict' keyword

d = dict(Thailand='Bangkok', Denmark='Copenhagen')
d

{'Denmark': 'Copenhagen', 'Thailand': 'Bangkok'}

Note the changes when using the dict keyword:
* no quotation marks around keys
* use equal sign (=) instead of colon (:) between keys and values

In [ ]:
# Add a new element to a dictionary

d['France'] = 'Paris'
d

{'Denmark': 'Copenhagen', 'France': 'Paris', 'Thailand': 'Bangkok'}

In [ ]:
# A (key, value)-pair can be removed with the 'pop' method

#d.pop('Denmark') ทดลองอีกคำสั่ง 
d.pop('France')
d

{'Thailand': 'Bangkok'}

In [ ]:
# Two dictionaries can be combined with the 'update' method

d1 = dict(Thailand='Bangkok', Denmark='Copenhagen')
d2 = dict(Colombia='Bogota', France='Paris')

d1.update(d2)
d1

{'Colombia': 'Bogota',
 'Denmark': 'Copenhagen',
 'France': 'Paris',
 'Thailand': 'Bangkok'}

### **Nested dicts**: the bond example again

In [ ]:
# Specify a dict using curly braces

d = {'LB29DA': {'maturity': date(2029, 12, 17), 'coupon': 0.016}, \
     'LB386A': {'maturity': date(2038, 6, 17), 'coupon': 0.033}}

print(d)
type(d)

{'LB29DA': {'maturity': datetime.date(2029, 12, 17), 'coupon': 0.016}, 'LB386A': {'maturity': datetime.date(2038, 6, 17), 'coupon': 0.033}}

dict

In [ ]:
# Or - equivalently - using the 'dict' keyword

d = dict(LB29DA=dict(maturity=date(2029, 12, 17), coupon=0.016), \
         LB386A=dict(maturity=date(2038, 6, 17), coupon=0.033))

print(d)
type(d)

{'LB29DA': {'maturity': datetime.date(2029, 12, 17), 'coupon': 0.016}, 'LB386A': {'maturity': datetime.date(2038, 6, 17), 'coupon': 0.033}}

dict

In [ ]:
d.keys()

dict_keys(['LB29DA', 'LB386A'])

In [ ]:
d.values()

dict_values([{'maturity': datetime.date(2029, 12, 17), 'coupon': 0.016}, {'maturity': datetime.date(2038, 6, 17), 'coupon': 0.033}])

In [ ]:
# Get the value corresponding to a key
d['LB29DA']

{'coupon': 0.016, 'maturity': datetime.date(2029, 12, 17)}

#### <font color='steelblue'>**Exercise 1**</font>
1. Create a dictionary called "my_dict" countaining the countries Thailand, Denmark, Australia as keys, and the ISO codes for their currencies (e.g. 'THB') as values. Define the dict using either curly braces or the ``dict`` command.
1. Print "my_dict" to the screen with print(). Does the order of the elements match how your entered them?
1. Extract the currency of Australia from the dictionary
1. Extract the keys from the dictionary as a list
1. Extract the values from the dictionary as a list

### Combining lists of keys and values into a dictionary

In [ ]:
# Typical situation: we have two separate lists with keys and values and want to
# create a dictionary from them

# Combine keys and values with 'zip'
# One possible use case: short variable names vs. legible legends for charts

tickers = ['AAPL', 'LMT', 'TSLA']
names = ['Apple Inc.', 'Lockheed Martin Corporation', 'Tesla Motors Inc.']

zip(tickers, names) # Returns a so-called iterator

In [ ]:
# Inspect it by turning the iterator into a list
list(zip(tickers, names))

[('AAPL', 'Apple Inc.'),
 ('LMT', 'Lockheed Martin Corporation'),
 ('TSLA', 'Tesla Motors Inc.')]

In [ ]:
# Create a dictionary
d1 = dict(zip(tickers, names))
d1

{'AAPL': 'Apple Inc.',
 'LMT': 'Lockheed Martin Corporation',
 'TSLA': 'Tesla Motors Inc.'}

In [ ]:
# When a key does not exist: key error
d['LNT'] # This will raise a 'KeyError'

KeyError: ignored

In [ ]:
# Use of 'get' method (fails silently)
print(d.get('LNT'))

None